<% include ../partials/header %>

    <!-- <h1><%= fullname %></h1>
<% hobbies.forEach(function(hobbies) { %>
        <li><%= hobbies %></li>
    <% }); %>
<h3><%= bdate %></h3> -->
<div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3 text-center"><%= fullname %></h1>
            <p class="lead text-center">5930213034 software engineering</p>
            <h3 class="display-3 text-center">Free-Time Activities</h3>
            <hr class="my-2 text-center">
            <% hobbies.forEach(function(hobbies) { %>
                <li class="text-center"><%= hobbies %></li>
            <% }); %>
        <h3 class="text-center"><%= bdate %></h3>
            
            </p>
        </div>
    </div>
 <% include ../partials/footer %>