<% include ../partials/header %>

<table class = "table">
    <thead>
        
        <tr>
        <td>ID</td>
        <td>Title</td>
        <td>Price</td>
        <td>Edit</td>
        <td>Delete</td>
        <td><a class="btn btn-success" href="/insert" role="button">insert</a></td>
        </tr>
</thead>
    <tbody>
    <% products.forEach(function(product){ %>
        <tr>
            <td scope ="row"><%= product.id %></td>
            <td><%= product.title %></td>
            <td><%= product.price %>></td>
            <td><a class="btn btn-success" href="/products/<%= product.id %>" role="button">EDIT</a></td>
            
            <td><a class="btn btn-danger" href="/product_delete/<%= product.id %>" role="button">Delete</a></td>
    </tr>
    <% }); %>
    </tbody>
    </table>

 <% include ../partials/footer %>