<% include ../partials/header %>

&nbsp;
<h3 class="text-center">Purchase by item</h3>

<div class="card mb-3" id="headertop">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Report Table product</div>
    <div class="card-body">
        <table class="table" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th><b>ITEM NAME</b></th>
                    <th><b>QUANTITY PURCHASED</b></th>
                    <th><b>AMOUNT</b></th>
                </tr>
            </thead>
            <tbody>
                <% product.forEach(function(product) { %>
                    <tr>
                        <td scope="row"><%= product.title %></font></td>
                        <td><%= product.quantity %></font></td>
                        <td><%= product.price %></font></td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>
    </div>
</div>
<div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>     
<div><canvas id="bar-chart" width="800" height="450"></canvas></div>


<script>
<%
function getRandomColor() {
    var letters = '0123456789ABCDEF'.split('');
    var color = '#';
    for (var i = 0; i < 6; i++ ) {
        color += letters[Math.floor(Math.random() * 16)];
    }
    return color;
}

 
var labelss=[]
var data=[]
var color=[]
product.forEach(function(product) { 
    var colors =getRandomColor()
    labelss.push("'" + product.title + "'");
    color.push("'" +colors + "'");
    data.push(product.price);
}); %>

new Chart(document.getElementById("bar-chart"), {
    type: 'bar',
    data: {
      labels:[<%-labelss%>], 
      
      datasets:[{
          label: "Products",
                backgroundColor: [<%-color%>],   
          data:  [<%=data%>]
        }]
      
     
    },
    options: {
      legend: { display: false },
      title: {
        display: true,
        text: 'Predicted world population (millions) in 2050'
      }
    }
});
</script>

<% include ../partials/footer %>