<% include ../partials/header %>
<h3 class="text-center">Top 25 Customers by Sales</h3>
<div class="card mb-3" id="headertop">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Report Table user</div>
        <div class="card-body">
            <table class="table" width="100%" cellspacing="0">
                    <thead>
                            <tr>
                                <th><b>Customers ID</b></th>
                                <th><b>Name</b></th>
                                <th><b>Email</b></th>
                                <th><b>Total Sales</b></th>
                            </tr>
                        </thead>
                        <tbody>
                        <% user.forEach(function(user) { %>
                            <tr>
                                <td scope="row"><%= user.user_id %></td>
                                <td><%= user.name %></td>
                                <td><%= user.email %></td>
                                <td>$<%= user.price %></td>
                            </tr>
                            <% }); %>
                        </tbody>
                    </table>
        </div>
        <div><canvas id="bar-chart" width="800" height="450"></canvas></div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
    </div>
    
    <script>
        <%
        function getRandomColor() {
            var letters = '0123456789ABCDEF'.split('');
            var color = '#';
            for (var i = 0; i < 6; i++ ) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }
        
         
        var labelss=[]
        var data=[]
        var color=[]
        user.forEach(function(user) { 
            var colors =getRandomColor()
            labelss.push("'" + user.name + "'");
            color.push("'" +colors + "'");
            data.push(user.price);
        }); %>
        
        new Chart(document.getElementById("bar-chart"), {
            type: 'polarArea',
            data: {
              labels:[<%-labelss%>], 
              
              datasets:[{
                  label: "Products",
                        backgroundColor: [<%-color%>],   
                  data:  [<%=data%>]
                }]
              
             
            },
            options: {
              legend: { display: false },
              title: {
                display: true,
                text: 'Predicted world population (millions) in 2050'
              }
            }
        });
        </script>
 <% include ../partials/footer %>