<% include ../partials/header %>
&nbsp;
<h3 class="text-center">Purchase by item</h3>

<div class="card mb-3" id="headertop">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Report Table product</div>
    <div class="card-body">
        <table class="table" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th><b>ITEM NAME</b></th>
                    <th><b>QUANTITY PURCHASED</b></th>
                    <th><b>AMOUNT</b></th>
                </tr>
            </thead>
            <tbody>
                <% product.forEach(function(product) { %>
                <tr>
                    <td scope="row">
                        <%= product.title %>
                        </font>
                    </td>
                    <td>
                        <%= product.quantity %>
                        </font>
                    </td>
                    <td>
                        <%= product.price %>
                        </font>
                    </td>
                </tr>
                <% }); %>
                <% sum.forEach(function(sum) { %>
                <tr>
                    <td scope="row">Total</td>
                    <td id="quantity">
                        <%= sum.squantity %>
                    </td>
                    <td id="price">$
                        <%= sum.sprice %>
                    </td>
                </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</div>
<div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>

<% include ../partials/footer %>