<% include ../partials/header %>

<table class = "table">
    <thead>
        <tr>
        <td>ID</td>
        <td>email</td>
        <td>password</td>
        <td><a class="btn btn-success" href="/insert_user" role="button">Add New</a></td>
        </tr>
</thead>
    <tbody>
    <% users.forEach(function(user){ %>
        <tr>
            <td scope ="row"><%= user.id %></td>
            <td><%= user.email %></td>
            <td><%= user.password %>></td>
            <td><a class="btn btn-success" href="/users/<%= user.id %>" role="button">EDIT</a></td>
            
            <td><a class="btn btn-danger" href="/users_delete/<%= user.id %>" role="button">Delete</a></td>
    </tr>
    <% }); %>
    </tbody>
    </table>

 <% include ../partials/footer %>