<% include ../partials/header %>
<form action="/users/update" method="post">
<div class="form-group">
  <label for="">ID</label>
  <input type="number"
    class="form-control" value="<%= user.user_id %>" name="id" id="" aria-describedby="helpId" placeholder="">
  <small id="helpId" class="form-text text-muted">Product ID</small>
</div>

<div class="form-group">
  <label for="">Email</label>
  <input type="text"
    class="form-control" value="<%= user.email %>" name="email" id="" aria-describedby="helpId" placeholder="">
  <small id="helpId" class="form-text text-muted">Title</small>
</div>

<div class="form-group">
  <label for="">Password</label>
  <input type="text"
    class="form-control" value="<%= user.password %>"name="password" id="" aria-describedby="helpId" placeholder="">
  <small id="helpId" class="form-text text-muted">password</small>
</div>
<div class="form-group">
  <label for="">Time</label>
  <input type="text"
    class="form-control" value="<%= time %>"name="price" id="" aria-describedby="helpId" placeholder="" disabled>
  <small id="helpId" class="form-text text-muted">Price</small>
</div>
<button type="submit" class="btn btn-secondary">Save</button>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" role="button" >Delete</button>
<a class="btn btn-warning" href="/users">Cancel</a>


</div>
</form>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"> Confirm Delete </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body"> Do you want to delete user ? </div>
        <div class="modal-footer">
          
          <button type="button" class="btn btn-secondary" data-dismiss="modal"> CANCLE </button>
          <a name="" id="" class="btn btn-primary" href="/users_delete/<%= user.user_id %>" role="button"> DELETE </a>
        </div>
      </div>
    </div>
  </div>



 <% include ../partials/footer %>